<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home Page {% endblock %}</title>
</head>

<body>
    <h1>This is vortextend.com</h1>
    {% block content %}
    <h2>This is Home Page</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ducimus saepe sapiente perferendis vero placeat porro, velit laboriosam voluptate non, repudiandae magnam officia facere? Error obcaecati optio, nostrum cumque accusamus iste consequatur
        quas, aliquid cupiditate pariatur exercitationem doloremque quod excepturi. Placeat cum, totam, dolores, soluta voluptatibus magni libero dolorem ipsa provident mollitia dignissimos laudantium illum earum inventore ab iste saepe reiciendis deserunt
        at incidunt blanditiis laboriosam! Illo, porro alias? Error est, doloribus rerum voluptatibus quisquam similique a distinctio alias beatae quaerat impedit qui, explicabo saepe. Quibusdam optio sunt aliquam quos, fuga magni omnis. Ea earum officiis,
        id cumque, corporis impedit ipsa animi vitae necessitatibus, illo vero obcaecati temporibus pariatur debitis enim explicabo voluptas? Numquam minima error praesentium, esse iure minus, temporibus totam placeat veniam aperiam labore incidunt aspernatur
        libero id, mollitia eligendi nostrum modi sequi reiciendis natus ad earum! Eius vel nisi nemo? Fugiat quo tempore labore, dignissimos, suscipit debitis, a impedit fuga saepe id eum accusamus accusantium reiciendis ratione nisi non? Nostrum tempora
        quo repellat dicta voluptatibus. Laudantium cum laborum voluptatibus aspernatur soluta inventore consequuntur repellendus perferendis iste? Quo maiores vitae, quibusdam, quae sequi animi sapiente ipsum voluptatem corrupti aut ad atque hic exercitationem
        dignissimos. Error eius placeat quos numquam saepe, neque quidem nesciunt maxime cum minus porro iure, ipsa recusandae perferendis fuga. At provident debitis, ipsum exercitationem facere ipsam consequuntur deserunt cupiditate possimus, tempore
        explicabo vel beatae totam, similique delectus excepturi fugiat maiores. Fugiat repellat velit quo doloremque enim harum omnis aliquam quam, reiciendis distinctio dolore laboriosam repudiandae non molestiae sapiente nam sunt, quae temporibus at
        exercitationem dolorem reprehenderit nostrum. Earum accusamus esse excepturi suscipit libero accusantium magni animi tenetur corporis! Saepe exercitationem recusandae repellat tempore aspernatur autem qui, unde, minus assumenda veritatis quae
        error harum quis sed eos laboriosam deleniti nisi rerum vitae officiis esse possimus! Dolorum pariatur ad laudantium voluptates voluptatum ab aspernatur et optio, itaque placeat est a officiis sunt. Earum alias dolorem tempore soluta, nulla ab
        labore dolore aut aspernatur cum, eligendi suscipit doloribus odio vitae animi at magnam, qui fuga maxime dolorum. Cum facere dicta odio voluptates? Ratione non autem animi, praesentium suscipit ipsam ut! Tenetur voluptates, unde, nam sit minus
        molestiae consequatur voluptate eaque doloremque natus officia laborum asperiores, minima odio illum sed provident dolores. Quae repellat, accusantium, cupiditate modi tenetur explicabo esse officia, consequatur sunt autem similique minus unde
        eius saepe quod sit tempora repudiandae laborum qui? Eaque, repellat. Aut recusandae voluptatum porro suscipit ex illo consectetur ab. Pariatur rerum praesentium ipsam voluptates est labore ipsum in totam laborum ad dolorum perferendis harum voluptatibus
        blanditiis consequuntur aspernatur molestias consectetur quis reprehenderit veniam non corporis, provident ducimus? Sapiente quisquam dolore assumenda nam eveniet, quas cumque veniam sed provident a? Perspiciatis blanditiis culpa nisi eaque itaque
        rem, odio voluptate eveniet, illum expedita unde praesentium voluptatem soluta veritatis ullam deserunt quisquam velit nesciunt! Ducimus, sed! Quam eius, nisi quibusdam sit consequatur velit veritatis commodi saepe molestias quod totam voluptatem
        libero earum perferendis magnam illo impedit labore, aliquam expedita! At quibusdam ipsa facilis voluptate eligendi.</p>
    <h3>
        <ul><a href="{% url 'boz' %}">Boz Page</a>
            <br>
            <a href="{% url 'posts' %}">Post Page</a></ul>
    </h3>
    {% endblock %}
</body>

</html>